QMainWindow {
  background-color: #31363b; }

QTabWidget{
  background-color: #31363b;
}

QTabWidget::pane {
    border-top: 2px solid #31363b;
}
QTabBar::tab {
    background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                                stop: 0 #31363b, stop: 0.4 rgb(60,213,200),
                                stop: 0.5 #31363b, stop: 1.0 rgb(60,213,200));
    border: 2px solid rgb(119,221,231);
    border-bottom-color: rgb(119,221,231);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 20ex;
    padding: 2px;
	color: white;
	font: bold 9pt;
}

QTabBar::tab:selected {
   color:  rgb(119,221,231);
}

QTabBar::tab:!selected {
    margin-top: 2px;
}

QPushButton {
  border-radius: 10px;
  border-style: outset;
  border-width: 2px;
  border-color: rgb(119,221,231);
  color: #eff0f1;
  font: bold 14px;
  font-family:Impact;
  min-width: 8em;
  padding: 6px;
	 }

QPushButton:hover {
  border-width: 2px;
  border-color: rgb(60,213,200);
  color: rgb(60,213,200); }

QPushButton:pressed {
  background-color: rgb(119,221,231);
  border-color: #268C52;
  border-style: inset; }

QSlider::handle:horizontal{
  background: rgb(60,213,200);
  border: 2px solid  rgb(60,213,200);
  width: 10px;
  margin: -30px 0;
 
}

QSlider::groove{
  border: none;  
  height: 3px;
}


QSlider::sub-page{
  background: rgb(60,213,200); 

}
QSlider::add-page{
  background: white; 

}


QLabel {
  qproperty-alignment:AlignCenter;
  color: #eff0f1;
  font: bold 14px;
  font-family:"Lucida Console";
  
   }
   
QInputDialog {
  background-color: #31363b;
 }
QFrame#paintBall{
	border-style: solid; border-width: 4px; border-color: rgb(60,213,200);
}
  
QLabel#lbBorderOne, QLabel#lbBorderTwo, QLabel#lbBorderReload {
  font: bold 17px;
  background-color: rgb(40,45,50);
  border-style: solid; border-width: 2px; border-color: rgb(60,213,200);
  border-radius: 10px;
  border-style: outset;
}

 
  
